<p id="notice"><%= notice %></p>

<p>
  <strong>Input:</strong>
  <%= @combo.input %>
</p>

<p>
  <strong>Result:</strong>
  <%= @combo.result %>
</p>

<%= link_to 'Edit', edit_combo_path(@combo) %> |
<%= link_to 'Back', combos_path %>
